@model HelpDesk.Common.Models.EditCustomerModel

<form asp-action="Edit" asp-route-id="@Model.CustomerId">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="CustomerId" />
                    <div class="form-group row">
                        <label asp-for="Name" class="col-md-3 control-label"></label>
                        <div class="col-sm-9">
                            <input asp-for="Name" class="form-control form-control-sm" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="AccountNumber" class="col-md-3 control-label"></label>
                        <div class="col-sm-9">
                            <input asp-for="AccountNumber" class="form-control form-control-sm" />
                            <span asp-validation-for="AccountNumber" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="PrimaryContactId" class="col-md-3 control-label"></label>
                        <div class="col-sm-9">
            <select asp-for="PrimaryContactId" class="form-control form-control-sm" asp-items="ViewBag.Contacts"></select>
                <span asp-validation-for="PrimaryContactId" class="text-danger"></span>
            </div>
                    </div>

    <div class="form-group row">
        <label asp-for="Description" class="col-md-3 control-label"></label>
        <div class="col-sm-9">
            <textarea asp-for="Description" class="form-control form-control-sm" rows="5" ></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="WebSiteUrl" class="col-md-3 control-label"></label>
        <div class="col-sm-9">
            <input asp-for="WebSiteUrl" class="form-control form-control-sm" />
            <span asp-validation-for="WebSiteUrl" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="EmailAddress1" class="col-md-3 control-label"></label>
        <div class="col-sm-9">
            <input asp-for="EmailAddress1" class="form-control form-control-sm" />
            <span asp-validation-for="EmailAddress1" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="EmailAddress2" class="col-md-3 control-label"></label>
        <div class="col-sm-9">
            <input asp-for="EmailAddress2" class="form-control form-control-sm" />
            <span asp-validation-for="EmailAddress2" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="Telephone1" class="col-md-3 control-label"></label>
        <div class="col-sm-9">
            <input asp-for="Telephone1" class="form-control form-control-sm" />
            <span asp-validation-for="Telephone1" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">

        <label asp-for="Telephone2" class="col-md-3 control-label"></label>
        <div class="col-md-9">
            <input asp-for="Telephone2" class="form-control" rows="5" />
        </div>
    </div>
    <div class="form-group">
        <partial name="_buttonList" />
            </div>
        </form>
       



